.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
}

.search-form__input {
    width: 100%;
    margin: 30px 0px;
}

.search-btn {
    border: none;
    border-radius: 5px;
    background-color: rgba(247, 108, 130, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.btns-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0px 30px;
}

.btns-wrapper a, .btns-wrapper button  { 
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    padding: 0px 20px;
    transition: 1s ease;
    text-decoration: none;
}

.btns-wrapper a:hover, .btns-wrapper button:hover  { 

    font-size: 16px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}
