.stream-card {
    width: 320px;
    margin-bottom: 10px;
}

.stream-card__img {
    width: 480px;
    height: 270px;
}

.thumbnail {
    border: 3px solid #f76c82;
}

.shrink img {
    transition: 1s ease;
    }
    
    .shrink img:hover{
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    transition: 1s ease;
    }