.stream-card {
    width: 320px;
    margin-bottom: 10px;
}

.thumbnail {
    /* border: 3px solid #f76c82; */
    border-radius: 1rem;
    width: 320px;
    height: 180px;
}

.shrink div, .shrink img {
    transition: 1s ease;
    }
    
    .shrink div:hover, .shrink img:hover{
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    transition: 1s ease;
    }

.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
    text-shadow: -1px -1px 0 #f76c82, 1px -1px 0 #f76c82, -1px 1px 0 #f76c82, 1px 1px 0 #f76c82;
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 16px;
    height: 25px;
    width: 100%;
}

.top-left a{
    color: white;
    text-decoration: none;
}

.stream-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}