.offline-streamers {
    display: flex;
    justify-content: space-around;
    gap: 30px 40px;
    flex-wrap: wrap;
    padding: 0px 60px;
}

@media screen and (max-width: 1200px) {
    .offline-streamers {
        padding: 0;
        gap: 5px;
    }
}
