.request {
    min-height: calc(100vh - 64px);
    color: black;
}


.request__content {
    margin: 0px 150px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    justify-content: center;
}